{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} text-center">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row justify-content-center align-items-center" style="min-height:70vh;">
    <div class="col-md-6 col-lg-5">

        <div class="card shadow-lg p-5">

            <h2 class="text-center mb-4 fw-bold">
                <i class="bi bi-box-arrow-in-right"></i> Login
            </h2>

            <form method="POST">

                <div class="mb-3">
                    <label class="fw-semibold">Login ID</label>
                    <input type="text" name="login_id" class="form-control form-control-lg" required>
                </div>

                <div class="mb-3">
                    <label class="fw-semibold">Password</label>
                    <input type="password" name="password" class="form-control form-control-lg" required>
                </div>

                <div class="mb-4 text-center">

                    <div class="form-check form-check-inline">
                        <input class="form-check-input custom-radio" type="radio" name="role" value="admin" required>
                        <label class="form-check-label fw-semibold ms-1">Admin</label>
                    </div>

                    <div class="form-check form-check-inline ms-3">
                        <input class="form-check-input custom-radio" type="radio" name="role" value="employee" required>
                        <label class="form-check-label fw-semibold ms-1">Employee</label>
                    </div>

                </div>

                <button class="btn btn-dark w-100 btn-lg">
                    Login
                </button>

            </form>

        </div>

    </div>
</div>
<script>
    setTimeout(function () {
        let alert = document.querySelector(".alert");
        if (alert) {
            alert.classList.remove("show");
            alert.classList.add("fade");
            alert.style.display = "none";
        }
    }, 3000); // 3 seconds
</script>
{% endblock %}